{% extends "base.html" %}
{% load static %}
{% block title %} Main page {% endblock %}

{% block content %}
    <div class="container">
        {% for i in "12345678" %}
            <div class="row rounded bg-dark border border-2 border-dark border- bg-opacity-25 mt-3 p-3 ">
                <div class="col-2 justify-content-center">
                    <img class="rounded" src="{% static "img/gif_logo.gif" %}" width="100%" alt="question-picture">
                    <div class="likes-block d-flex mt-4 justify-content-center">
                        <button class="btn btn-default"><img src="{% static "img/up.png" %}" width="16" height="16"
                                                             alt="upvote"></button>
                        <span class="text-light my-auto mx-3 justify-content-center">122</span>
                        <button class="btn btn-default"><img src="{% static "img/up.png" %}" width="16" height="16"
                                                             alt="upvote" class="rotated"></button>
                    </div>
                </div>
                <div class="col-10 justify-content-between d-flex flex-column">
                    <a class="h3" href="#">How can I build a {% lorem 2 w random %}?</a>
                    <div class="col-10 ">
                        {% lorem 40 w random %}
                    </div>
                    <div class="row mt-auto">
                        <div class="col-4 ">
                            <a href="#">Answers({{ "1234567890" | random }})</a>
                        </div>
                        <div class="col-8">
                            <span>Tags: </span>
                            <a href="#">{% lorem 1 w random %}</a>
                            <a href="#">{% lorem 1 w random %}</a>
                            <a href="#">{% lorem 1 w random %}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link disabled" href="#">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">54</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}